:root {
    --header-back-color: rgb(253, 10, 10);
    --header-font-family: 'Big Shoulders Display', Arial, serif;
    --border-radius: 5px;
    --body-back-color: rgb(119, 121, 216);
    --main-font-family: 'Anonymous Pro', Arial, serif;
}